* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Navbar Styling */

 .navbar {
    background-color: #1F2937;
}

 .navbar .navbar-container {
    /* width: 75%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5em;
}

.navbar .navbar-container h1 {
    font-size: 24px;
    color: #F9FAF8;
    padding: 15px 0;
}

.navbar .navbar-container ul {
    display: flex;
    list-style: none;
}

.navbar .navbar-container ul li {
    padding-left: 20px;

}

.navbar .navbar-container ul li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* Hero Styling */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 5em;
}

.hero .hero-text {
    flex: 1;
    padding-right: 3em;
}

.hero .hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .hero-text button {
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 7.5px 30px;
}

.hero .hero-image {
    flex: 1;
}

.hero .hero-image img {
    height: 100%;
    width: 100%;
}