* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Navbar Styling */

 .navbar {
    background-color: #1F2937;
}

 .navbar .navbar-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar .navbar-container h1 {
    font-size: 24px;
    color: #F9FAF8;
    padding: 15px 0;
}

.navbar .navbar-container ul {
    display: flex;
    list-style: none;
}

.navbar .navbar-container ul li {
    padding: 0 10px;

}

.navbar .navbar-container ul li a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* Hero Styling */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.hero .hero-text {
    flex: 1;
}

.hero .hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .hero-image {
    flex: 1;
}